body{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
}

section{
    margin-top: 20px;
}

a{
    font-size: 20px;
    padding-bottom: 20px;
}

input{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    font-size: 20px;
}

.meio{
    flex-direction: row;
}